<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%if(posts.length){%>
        <%for(var i in posts){%>
        <tr>
            <td class="px-4">
                <div class="post-body">
                    <%if(user==posts[i].uid){%>

                    <div id="<%=posts[i].post_id%>" class="icon-delete-post float-right ml-3" data-toggle="tooltip"
                        title="Delete Your Post">
                        <i class="far fa-trash-alt"></i>
                    </div>
                    <div id="<%=posts[i].post_id%>" class="icon-edit-post float-right" data-toggle="tooltip" title="Edit Your Post">
                        <i class="far fa-edit"></i>
                    </div>

                    <%}%>
                    <div class="post-title mb-1">
                        <a target="_blank" href="<%=posts[i].link%>">
                            <%=posts[i].title%></a>
                    </div>
                    <!-- <div class="post-link"><%=posts[i].link%>  </div> -->

                    <div class="post-desc mb-2">
                        <%=posts[i].description.length>200?posts[i].description.substring(0,200)+".....":posts[i].description %>
                    </div>

                    <div class="post-author float-left">
                        <strong>Author: </strong><span class="post-tble-author-name">
                            <%=posts[i].uname%></span>
                    </div>
                    <div class="post-comments ml-3 float-left">
                        <span>
                            <strong>Comments: </strong><span>
                                <%=posts[i].comments.length%></span>

                        </span>

                    </div>
                    <div class="post-show-bt ml-3 float-left">
                            <button id="<%=posts[i].post_id%>" type="button" class="btn btn-dark btn-sm btn-show-post">Show post</button>
    
                        </div>
                   





                </div>



                <br>
            </td>
        </tr>
        <%}%>
        <%}else{%>
        No Results
        <%}%>
    </tbody>
</table>
<div class="post-tble-pagination"></div>
<script>
    //   $.getJSON('/create_comment', {
    //     post_id: "aWbGjmcBFfcFyuLNV3EN",
    //     comment : "hai comment"
    // }, function (data) {
    // //   console.log(data);
      
    // })
 
    var page = <%-JSON.stringify(page)%>;
    var total = <%-JSON.stringify(total)%>;

    $('.post-tble-pagination').bootpag({
        total: Math.ceil(total / 10),
        page: page
    }).on("page", function (event, num) {
        get_posts(num);
    });
    $('.pagination li').addClass('page-item');
    $('.pagination a').addClass('page-link');
</script>